a {
  text-decoration: none;
}

label {
  display: block;
}

.card .card-header {
  background-color: #047568;
}

.card-text {
  color: white;
}

.font-size-larger {
  font-size: 1.25em;
}

.logo {
  font-family: 'Fredoka One', cursive;
}
